<ol class="post-list">
  {{#each posts as |post|}}
  <li>
    <article class="post">
      <div class="title">
        {{post.title}}
      </div>
      <div class="meta">
        {{post.created_at}}
      </div>
    </article>
  </li>
  {{/each}}
</ol>